* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
}

nav {
  padding: 0 100px 0 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  height: 12%;
}

nav .center {
  display: flex;
  gap: 30px;
  color: white;
}

nav .center p {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

nav .left img {
  cursor: pointer;
}

#getStarted {
  font-size: 16px;
  font-weight: 600;
  padding: 18px 24px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(38, 38, 38);
}

#getStarted:hover {
  background-color: black;
  border: 1px solid rgb(85, 82, 82);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding-top: 20px;
  /* background-color: red; */
  height: 40%;
}

section h1 {
  color: white;
  font-size: 65px;
  text-align: center;
  margin-top: 40px;
}

section .switch {
  display: flex;
  gap: 16px;
}

section .switch .box {
  font-size: 18px;
  font-weight: 300;
  padding: 18px 25px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(38, 38, 38);
}

section .switch #orange {
  background-color: #ff4400;
}

.section {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 90%;
  padding: 30px 80px 0px 80px;
  /* background-color: yellow; */
}

.section .container {
  height: 80%;
  width: 30%;
  background-color: rgba(255, 85, 23, 0.1);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.section .container img {
  width: 100%;
  height: 55%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.section .data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0px 0px 15px;
}

.section .data h2 {
  color: white;
}

.section .data p {
  color: #ffffff99;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #ff5618;
  background-color: #ff50104d;
  border: none;
  border-radius: 30px;
  padding: 12px;
  cursor: pointer;
}
